.choose__color {
    border-radius: 5px;
    margin: 0 10px;
}
.color__btn {
    border-radius: 5px;
    padding: 0 5px;
    border: 1px solid #000;
    cursor: pointer;
}
.choose__message {
    position: relative;
    display: none;
    margin: 20px;
    background-color: #89607ccf;
    color: #fff;
    border-radius: 20px;
    padding: 15px;
    font-size: 1.2rem;
  }