.app.dark {
  --bg-color: #6e5054;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #dde35e;
  --secondary-color: #ffb856;

  --inverted-primary-color: #ffffff;
  --inverted-secondary-color: #262828;

  background: url('https://raw.githubusercontent.com/MarinaKovel/coffeemachinedata/main/design/bg-main-night2.jpg') center top no-repeat;
  background-size: auto 100vh;
}
