.app.dark {
  --bg-color: #6e5054;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #dde35e;
  --secondary-color: #ffb856;

  --inverted-primary-color: #090b21;
  --inverted-secondary-color: #262828;

  background: url('https://raw.githubusercontent.com/MarinaKovel/coffeemachinedata/main/design/table-dark.jpg') 50% / 1920px 100% no-repeat;
}
