.app.dark {
  --primary-color: #dde35e;
  --secondary-color: #ffb856;

  --inverted-primary-color: #ffffff;
  --inverted-secondary-color: #262828;
}

.app.dark.main {
  background: url('https://raw.githubusercontent.com/MarinaKovel/coffeemachinedata/main/design/bg-main-night2.jpg') center top no-repeat;
  background-size: auto 100vh;
}
.app.dark.table {
  background: url('https://raw.githubusercontent.com/MarinaKovel/coffeemachinedata/main/design/table-dark.jpg') center top no-repeat;
  background-size: auto 100vh;
}
.app.dark.chip {
  background: url('https://raw.githubusercontent.com/MarinaKovel/coffeemachinedata/main/design/schema-dark.jpg') center top no-repeat;
  background-size: auto 100vh;
}