.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #3b1c1c;

  --primary-color: #090b21;
  --secondary-color: #262828;
  --inverted-primary-color: #dde35e;
  --inverted-secondary-color: #ffb856;
}
