.app.light {
  --primary-color: #090b21;
  --secondary-color: #262828;
  --inverted-primary-color: #ffffff;
  --inverted-secondary-color: #ffb856;
}

.app.light.main {
  background: url('https://raw.githubusercontent.com/MarinaKovel/coffeemachinedata/main/design/bg-main-day.jpg') center top no-repeat;
  background-attachment: fixed;
  background-color: #d8a6b0;
  background-size: cover;
}

.app.light.pause,
.app.light.learning,
.app.light.about {
  background: url('https://raw.githubusercontent.com/MarinaKovel/coffeemachinedata/main/design/table-light.jpg') center top no-repeat;
  background-attachment: fixed;
  background-color: #d8a6b0;
  background-size: cover;
}
.app.light.auth,
.app.light.statistic,
.app.light.comments {
  background: url('https://raw.githubusercontent.com/MarinaKovel/coffeemachinedata/main/design/schema-light.jpg') center top repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #88719b;
}

