
.container__back {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.machine__back {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: calc(70vh / 1.5);
  height: 70vh;
  border-radius: 10px;
  text-align: center;
  padding: 10vh 7vh 15vh 7.5vh;
  color: white;
  background: url('https://raw.githubusercontent.com/MarinaKovel/coffeemachinedata/main/design/machine-back-qr.png') 50% / 100% no-repeat;
}
.devs {
  display: flex;
  flex-wrap: wrap;
}
.dev {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13vh;
  height: 13vh;
  line-height: 2vh;;
  border-radius: 50px;
  font-size: 0.5rem;
  background: url('https://raw.githubusercontent.com/MarinaKovel/coffeemachinedata/8891efc79765994427c203eaf543d5185bf72620/github.svg') 100% / 100% no-repeat;
  padding: 0vh 2vh 0 2vh;
  margin: 1.5vh;
}
.dev:hover {
  background: linear-gradient(#1e1b20, #1e1b20) padding-box, linear-gradient(130deg, #b91d88, #9648b3) border-box;
  font-size: 0.8rem;
  transition: 0.5s;
}
.design {
  width: 13vh;
  height: 13vh;
  line-height: 3vh;
  padding-top: 3vh;
  border-radius: 50px;
  background: linear-gradient(#1e1b20, #1e1b20) padding-box, linear-gradient(130deg, #fb02ac, #9648b3) border-box;
  border: 0.5vh solid transparent;
  font-size: 0.7rem;
  margin: 1.5vh;
}
.dev:hover,
.design:hover {
  box-shadow: 1px 1px 10px 4px #b91d88;
  transition: 1s;
}
.description {
  margin: 20px;
  background-color: #89607ccf;
  border-radius: 10px;
  padding: 15px;
  color: #fff;
  padding: 5vh;
  width: 40%;
}

@media screen and (max-width: 1100px) {

  .bgback,
  .bgback-night {
    height: 120%;
    background-size: auto 120vh;
  }

}

@media screen and (max-width: 1250px) {

  .description {
    width: 40%;
  }

}

@media screen and (max-width: 730px) {

  .container__back {
    flex-direction: column;
  }
  .description {
    width: 90%;
  }
  .bgback,
  .bgback-night {
    height: 200%;
    background-size: auto 200vh;
  }

}