.container__back {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.machine__back {
  display: flex;
  width: calc(70vh / 1.5);
  height: 70vh;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
  padding: 10vh 7vh 15vh 7.5vh;
  border-radius: 10px;
  background: url('https://raw.githubusercontent.com/MarinaKovel/coffeemachinedata/main/design/machine-back-qr.png') 50% /
    100% no-repeat;
  color: white;
  text-align: center;
}

.devs {
  display: flex;
  flex-wrap: wrap;
}

.dev {
  display: flex;
  width: 13vh;
  height: 13vh;
  align-items: center;
  justify-content: center;
  padding: 0 2vh;
  border-radius: 50px;
  margin: 1.5vh;
  background: url('https://raw.githubusercontent.com/MarinaKovel/coffeemachinedata/8891efc79765994427c203eaf543d5185bf72620/github.svg')
    100% / 100% no-repeat;
  font-size: calc(var(--font-size-m) / 1.4);
  line-height: 2vh;
}

.dev:hover {
  background: linear-gradient(#1e1b20, #1e1b20) padding-box, linear-gradient(130deg, #b91d88, #9648b3) border-box;
  font-size: var(--font-size-m);
  transition: 0.5s;
}

.design {
  width: 13vh;
  height: 13vh;
  padding: 2vh 2px 0;
  border: 0.5vh solid transparent;
  border-radius: 50px;
  margin: 1.5vh;
  background: linear-gradient(#1e1b20, #1e1b20) padding-box, linear-gradient(130deg, #fb02ac, #9648b3) border-box;
  font-size: calc(var(--font-size-m) / 1.4);
  line-height: 3vh;
}

.design:hover {
  font-size: calc(var(--font-size-m) / 1.2);
}

.dev:hover,
.design:hover {
  box-shadow: 1px 1px 10px 4px #b91d88;
  transition: 1s;
}

.description {
  width: 40%;
  padding: 15px;
  padding: 5vh;
  border-radius: 10px;
  margin: 20px;
  background-color: #89607ccf;
  color: #fff;
  font-size: calc(var(--font-size-m) * 1.2);
}

.course {
  width: 100px;
  height: 35px;
  display: block;
  fill: #ce3232;

}

@media screen and (max-width: 1100px) {
  .bgback,
  .bgback-night {
    height: 120%;
    background-size: auto 120vh;
  }
}

@media screen and (max-width: 1250px) {
  .description {
    width: 40%;
  }
}

@media screen and (max-width: 730px) {
  .container__back {
    flex-direction: column-reverse;
  }

  .description {
    width: 90%;
  }

  .bgback,
  .bgback-night {
    height: 200%;
    background-size: auto 200vh;
  }

  .machine__back {
    align-self: auto;
  }
}
