@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";
@import "./header/header";

@import "reset";
@import "mainPage";
@import "LearningPage";
@import "fonts";
@import "SignUp";
@import "UserSettingsForm";


@font-face {
  font-family: "DigitalNumbers";
  src: url("../fonts/digitalnumbers-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.app {
  position: relative;
  font: var(--font-m);
  background-color: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}
.loading {
  position: absolute;
  left: 50%;
  top: 50%;
}
