@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";
@import "header/header";
@import "mainPage";
@import "LearningPage";

@font-face {
  font-family: "DigitalNumbers";
  src: url("../fonts/digitalnumbers-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}
