.learning-mode {
  position: relative;
  display: grid;
  min-height: calc(100vh - var(--header-height));
  padding: 20px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);

  .next {
    position: absolute;
    top: 5px;
    left: 5px;
  }

  .card {
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4vh;
    border-radius: 20px;
    margin: 10px;
    background: #9f5f81e4;
    box-shadow: #e8e8ea;
    color: #fff;
    text-align: center;
  }
  .card.settings {
    display: flex;
  }
  .card.modalLeft {
    z-index: 2;
    display: flex;
    width: 300px;
    max-height: 41vh;
    margin-left: 140px;
    grid-column: 1/4;
    grid-row: 1/6;
  }

  .withImg {
    height: 420px !important;
    max-height: 70vh !important;
    grid-row: 1/7 !important;
  }

  .card.modalCenter {
    position: relative;
    z-index: 2;
    display: flex;
    width: 50vw;
    max-height: 50vh;
    justify-content: space-around;
    grid-column: 3/5;
    grid-row: 1/5;
  }

  .card.modalRightTop {
    position: relative;
    z-index: 3;
    right: -8vw;
    display: flex;
    width: 270px;
    height: 300px;
    grid-column: 5/7;
    grid-row: 1/3;
  }

  .card.modalRightBottom {
    position: relative;
    z-index: 3;
    right: -8vw;
    display: flex;
    width: 270px;
    height: 300px;
    grid-column: 5/7;
    grid-row: 3/5;
  }

  .card.auth {
    display: none;
    grid-column: 5/7;
    grid-row: 1/5;
  }

  .input {
    position: relative;
    z-index: 2;
  }

  .learning__machine {
    position: relative;
    z-index: 1;
    left: calc(50vw - 23vh);
    display: flex;
    overflow: hidden;
    max-width: fit-content;
    grid-column: 1/4;
    grid-row: 1/6;
  }

  .learning__btn {
    position: relative;
    padding: 2vh 5vh;
    border-radius: 1px;
    margin: 1vh;
    background-color: #9f5f81e4;
    color: #fff;
    cursor: pointer;
    font-size: var(--font-size-l);
    transition: all 0.3s;
  }

  .learning__btn::before {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(255, 255, 255, 0.5);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.5);
    content: '';
    opacity: 0;
    transform: scale(0.1, 1);
    transition: all 0.3s;
  }

  .learning__btn:hover {
    letter-spacing: 2px;
  }

  .learning__btn:hover::before {
    opacity: 1;
    transform: scale(1, 1);
  }

  .learning__btn::after {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    content: '';
    transition: all 0.3s;
  }

  .learning__btn:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
  }

  @keyframes blinkMachine {
    50% {
      box-shadow: 0px 0px 25px 5px #ffffffe5; 
      background-color: #ffffff77;
    }
  }
  @keyframes blinkModal {
    50% {box-shadow: 0px 0px 10px 10px rgb(249, 249, 250);}
  }
  @keyframes rightMachine {
    50% {
      background-color: #65a685b9;
      box-shadow: 0 0 25px 5px #65a685;
    }
  }
  @keyframes wrongMachine {
    50% {
      background-color: #b81e87b9;
      box-shadow: 0 0 25px 5px #b81e88;
    }
  }
  @keyframes rightModal {
    50% {
      box-shadow: 0 0 10px 10px #65a685;
    }
  }
  @keyframes wrongModal {
    50% {
      box-shadow: 0 0 10px 10px #b81e88;
    }
  }

  .blink__machine {
    animation: blinkMachine 3s infinite;
  }

  .blink__modal {
    animation: blinkModal 3s 1;
  }

  .right__machine {
    animation: rightMachine 3s 1;
  }

  .wrong__machine {
    animation: wrongMachine 3s 1;
  }

  .right__modal {
    animation: rightModal 3s 1;
  }

  .wrong__modal {
    animation: wrongModal 3s 1;
  }

  .progress {
    position: absolute;
    top: 0;
    height: 3vh;
  }

  .bonus {
    position: relative;
    top: 10vh;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    grid-column: 1/7;
    grid-row: 4/6;
  }
}

@media screen and (max-width: 915px) {
  .bglearn,
  .bglearn-night {
    height: 117%;
    background-size: auto 117vh;
  }
}

@media screen and (max-width: 1400px) {
  .learning-mode .card.modalLeft {
    left: 10vw;
    margin-left: 0;
    grid-column: 1/4;
  }

  .learning-mode .card.modalRightTop,
  .learning-mode .card.modalRightBottom {
    right: 8vw;
    height: 150px;
    grid-column: 6/7;
    justify-self: flex-end;
  }
}

@media screen and (max-width: 1050px) {
  .learning-mode {
    grid-template-rows: repeat(6, auto);
  }

  .learning-mode .card.modalCenter {
    width: 100%;
    grid-column: 1/7;
  }

  .learning-mode .card.modalLeft {
    left: 0;
    width: 100%;
    justify-content: center;
    margin-left: 0;
    grid-column: 1/7;
    grid-row: 1/1;
  }

  .learning-mode .card.modalRightTop {
    right: 0;
    width: 100%;
    height: 100px;
    justify-content: center;
    grid-column: 1/7;
    grid-row: 3/3;
  }

  .learning-mode .card.modalRightBottom {
    right: 0;
    width: 100%;
    height: 100px;
    justify-content: center;
    grid-column: 1/7;
    grid-row: 4/4;
  }

  .learning-mode .card.auth {
    z-index: 3;
    width: 100%;
    justify-content: center;
    grid-column: 1/7;
    grid-row: 2/3;
  }

  .learning-mode .learning__machine {
    position: relative;
    z-index: 1;
    left: calc(50vw - 23vh);
    display: flex;
    grid-column: 1/6;
    grid-row: 2/2;
  }

  .learning-mode .withImg {
    height: 420px !important;
    grid-row: 1/1 !important;
  }

  .learning-mode .progress {
    bottom: 0;
  }
}
