.main-page {
  padding: 20px;
  position: relative;
  height: calc(100vh - var(--header-height));

  .cards {
    margin-top: 60px;
    margin-left: 8%;
    margin-right: auto;
    width: 390px;
    height: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .card {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding-top: 20px;
    width: 100%;
    height: 170px;
    background: rgba(162, 2, 111, 0.8);
    border-radius: 20px;
    h2 {
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: -5px;
    }
  }
  .link {
    text-transform: uppercase;
    text-decoration: none;
  }
}

