.header {
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  padding: 20px;
  position: relative;
  z-index: 1;
  background: url('https://raw.githubusercontent.com/MarinaKovel/coffeemachinedata/main/design/header.png') center top no-repeat;
  background-size: 100% var(--header-height);

  .lang-switcher,
  .theme-switcher {
    font: var(--font-xl);
    color: var(--inverted-primary-color);
    letter-spacing: -3px;
  }
  .theme-switcher {
    @media screen and (max-width: 768px)  {
      margin-left: auto;
  }
}

  .link {
    letter-spacing: -3px;
    font: var(--font-xl);
    text-decoration: none;
  }

}

.header-logo {
  z-index: 10;
  position: relative;
  top: 0.5vh;
  width: 18vh;
  height: 15vh;
  display: block;
  background: url("https://raw.githubusercontent.com/MarinaKovel/coffeemachinedata/main/design/logo.png") 0% 50%/ 100% no-repeat;
  background-size: contain;
}

.navbar {
  margin-top: 2px;
  margin-left: auto;

  &.tablet {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    transition: 1s ease-in;
  }
  &.tablet.active {
    top: calc(var(--header-height) - 3px);
    z-index: 1;
    display: flex;
    width: 100%;
    height: 100vh;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: flex-end;
    background-color: #0000003c;

    .navbar-links {
      display: flex;
      flex-direction: column;
      height: 50vh;
      width: 250px;
      justify-content: center;
      background-color: #000000cd;
      border-radius: 0 0 10px 10px;
      padding-left: 5vh;
      z-index: 4;
    }
  }
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 15px;
  margin-bottom: 10px;
  color: var(--primary-color)
}

.primary {
  color: var(--primary-color)
}

.secondary {
  color: var(--inverted-primary-color)
}

