.header {
  position: relative;
  z-index: 4;
  display: flex;
  width: 100%;
  height: var(--header-height);
  align-items: center;
  padding: 20px;
  background: url('https://raw.githubusercontent.com/MarinaKovel/coffeemachinedata/main/design/header.png') center top
    no-repeat;
  background-size: 100% var(--header-height);

  .lang-switcher,
  .theme-switcher {
    color: var(--inverted-primary-color);
    font: var(--font-xl);
    letter-spacing: -3px;
  }

  .theme-switcher {
    @media screen and (max-width: 768px) {
      margin-left: auto;
    }
  }

  .link {
    font: var(--font-xl);
    letter-spacing: -3px;
    text-decoration: none;
  }
}

.header-logo {
  position: relative;
  z-index: 10;
  top: 0.5vh;
  display: block;
  width: 18vh;
  height: 15vh;
  background: url('https://raw.githubusercontent.com/MarinaKovel/coffeemachinedata/main/design/logo.png') 0% 50%/ 100% no-repeat;
  background-size: contain;
}

.navbar {
  margin-top: 2px;
  margin-left: auto;

  &.tablet {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    width: 0;
    transition: 1s ease-in;
  }

  &.tablet.active {
    z-index: 5;
    top: calc(var(--header-height) - 3px);
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: flex-start;
    align-self: flex-start;
    justify-content: flex-end;
    background-color: #0000003c;

    .navbar-links {
      display: flex;
      width: 250px;
      height: 50vh;
      flex-direction: column;
      justify-content: center;
      padding-left: 5vh;
      border-radius: 0 0 10px 10px;
      background-color: #000000cd;
    }
  }
}

.link {
  margin-right: 15px;
  margin-bottom: 10px;
  color: var(--primary-color);
  text-decoration: none;
  text-transform: uppercase;
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--inverted-primary-color);
}
