
.header {
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  padding: 20px;
  position: relative;
  z-index: 1;
  background: url('https://raw.githubusercontent.com/MarinaKovel/coffeemachinedata/main/design/header.png') center top no-repeat;
  background-size: 100% var(--header-height);
}

.header-logo {
  z-index: 10;
  position: relative;
  width: calc(122px * 0.5);
  height: calc(114px * 0.5);
  display: block;
  background: url("https://raw.githubusercontent.com/MarinaKovel/coffeemachinedata/main/design/logo.png") no-repeat;
  background-size: contain;
}

.navbar {
  margin-left: auto;
}

.link {
  margin-right: 15px;
  color: var(--primary-color)
}

.primary {
  color: var(--primary-color)
}

.secondary {
  color: var(--inverted-primary-color)
}